body {
  margin: 0;
  font-family: Arial;
  background: #050510;
  color: white;
}

.screen { display: none; }
.screen.active { display: block; }

#loginScreen, #profileScreen {
  padding: 40px;
  text-align: center;
}

button {
  padding: 12px 20px;
  border: none;
  background: #1877F2;
  color: white;
  cursor: pointer;
}

.splash {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #050510;
}

